@import "~bootstrap/scss/bootstrap";
//http://10.0.10.140:8080/

// $primary-color: #0480c9;
$primary-color: #1c3144;
$navbar-color: #4a4242;
$button-color: #5b6057;
$font-color: #d8d8d8;

// $primary-color: #e65d02;
$genWidth: 600px;

//import fonts
@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&family=Work+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Poppins&family=Roboto&family=Work+Sans&display=swap");

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient($primary-color, darken($primary-color, 15%));
  background-size: auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  display: flex;
  flex-direction: center;
  align-items: center;
  justify-content: center;
  font-family: "Playfair Display", serif;
  // font-size: 100px;
  // color: gradient($font-color, lighten($font-color, 15%));
  font-size: clamp(30pt, 10svh, 16svh);
  // font-size: 6rem;
  background: linear-gradient(45deg, $font-color, darken($font-color, 15%));
  /*highlight-start */
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  /*highlight-end */
}


button {
  margin-top: 14px;
  // font-size: 26px !important;
}

$nav-bords: 3svh;

.nav {
  //
  height: clamp(5svh, 10svh, 16svh);
  //font-size: clamp(5svh, 10svh, 16svh);

  border: 2px solid $button-color;
  margin-top: $nav-bords;
  margin-bottom: $nav-bords;
  border-radius: 5px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  // padding-left: 20px;
  // padding-right: 20px;
  // padding-top: $nav-bords;
  // padding-bottom: $nav-bords;
  background-color: $navbar-color;
  // width:

  .Icon {
    height: clamp(5svh, 10svh, 16svh);
    transition: 0.3s;

    &:hover {
      scale: 1.1;
      cursor: pointer;
    }

    &:active {
      scale: 0.9;
      // box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
    }
  }
}
/** {
    style for the App component @Angelo 
} */


.MainContainer {
  display: flex;
  flex-direction: row;
  // flex-wrap: wrap;
  justify-content: center;
}

.AdColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  width: 15%;
}

.Ad {
  display: flex;
  width: 100%;
  height: 100%;
}

.App {
  width: 70%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.map-container {
  width: 100%;
  height: 100vh;
}

.info-window {
  font-size: 26px;
}

label {
  display: block;
}

input {
  display: block;
}

.form-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 450px;
  max-height: fit-content;
  padding: 40px;
  // font-size: 28px;
}

.form-modal-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 8px;
}