@import '~bootstrap/scss/bootstrap';
//http://10.0.10.140:8080/

// $primary-color: #0480c9;
$primary-color: #1c3144;
$navbar-color: #4a4242;
$button-color: #5b6057;
$font-color: #d8d8d8;

// $primary-color: #e65d02;
$genWidth: 600px;

//import fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Poppins&family=Roboto&family=Work+Sans&display=swap');

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient($primary-color, darken($primary-color, 15%));
  background-size: auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.App {
  padding: 20px;
}

h1 {
  display: flex;
  flex-direction: center;
  align-items: center;
  justify-content: center;
  font-family: 'Playfair Display', serif;
  font-size: 100px;
  color: white;
}

.btn {
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
  border: 2px solid $font-color;
  background-color: white;
  transition: 0.3s;
  box-shadow: 2px 2px 2px;
  &:hover {
    background-color: rgb(5, 5, 254);
  }
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  
}

nav {
  //
  border: 2px solid $button-color;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 5px;

  // width:
}

/** {
    style for the App component @Angelo 
} */

.App {
  width: 100%;
}
