@use 'sass:math';
@import "~bootstrap/scss/bootstrap";

// $primary-color: #0480c9;
$primary-color: #1c3144;
$navbar-color: #4a4242;
$button-color: #5b6057;
$font-color: #d8d8d8;

// $primary-color: #e65d02;
$genWidth: 600px;

//import fonts
@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&family=Work+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Poppins&family=Roboto&family=Work+Sans&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Griffy&display=swap');

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: hsla(228, 17%, 53%, 1);

  background: radial-gradient(circle, rgb(133, 154, 238) 0%, hsla(229, 28%, 88%, 1) 100%);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  display: flex;
  flex-direction: center;
  align-items: center;
  justify-content: center;
  font-family: 'Griffy', cursive;
  font-size: clamp(30pt, 10svh, 16svh);
  background: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
  text-shadow: 2px 2px 15px white;
  /*highlight-start */
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  /*highlight-end */
}


button {
  margin-top: 14px;
}

$nav-bords: 3svh;

.nav {
  height: clamp(5svh, 10svh, 16svh);
  border: 2px solid $button-color;
  margin-top: $nav-bords;
  margin-bottom: $nav-bords;
  border-radius: 5px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, .5);

  .Icon {
    height: clamp(5svh, 10svh, 16svh);
    transition: 0.3s;

    &:hover {
      scale: 1.1;
      cursor: pointer;
    }

    &:active {
      scale: 0.9;
      // box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
    }
  }
}

.MainContainer {
  display: flex;
  flex-direction: row;
  // flex-wrap: wrap;
  justify-content: center;
  height: 100vh;
}

.AdColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15%;
  margin: 0 24px;
}

.Ads {
  border: .4px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Ad {
  display: flex;
  width: 275px;
  height: 100%;
  padding: 24px;
}

.App {
  width: 70%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.map-container {
  width: 100%;
  height: 100vh;
}

.info-window {
  font-size: 26px;
}

label {
  display: block;
}

input {
  display: block;
}

.form-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  max-height: fit-content;
  padding: 40px;
  position: absolute;
  left: 50%;
  top: 70%;
  transform: translate(-50%, -50%)
}

.form-modal-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 8px;
}

.Map {
  border: 1px solid black;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
}